body {
  font-family: Helvetica;
  margin: 0;
  overflow-x: scroll;
  white-space: nowrap;
}

nav {
  position: fixed;
  background: #026AA7;
  width: 100%;
  top: 0;
  height: 50px;
  z-index: 100;
}

#logo {
  font-size: 20px;
  display: inline-block;
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.3em;
  color: white;
}
.navBar {
  list-style: none;
  margin: 0;
  padding: 0;
}

.board-navbtn {
  display: inline-block;
  padding: 5px;
  margin: 10px 5px;
  background: #ddd;
  border-radius: 3px;
}

.board-navbtn:hover {
  opacity: 0.7;
}

.search-navbtn {
  display: inline-block;
  padding: 5px;
  margin: 10px 5px;
  background: #ddd;
  border-radius: 3px;
}

.boardSideBar {
  list-style-type: none;
  position: absolute;
  top: 38px;
  padding: 5px;
  background: white;
  border-right: #E2E4E6 solid 1px;
  border-bottom: #E2E4E6 solid 1px;
  left: -100%;
  transition: left 500ms;
}
.boardSideBar h3{
  color: #959DA1;
  margin: 0;

}

.boardSideBar li{
  padding-top: 10px;
}

.infoBar {
  position: fixed;
  width: 100%;
  top: 50px;
  z-index: 90;
}

.infoBar span {
  display: inline-block;
}

#boardTitle {
  font-size: 18px;
  padding-left: 20px;
  padding-top: 20px;
}

#showMenu {
  position: relative;
  font-size: 14px;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
}

.sideMenu {
  position: absolute;
  top: 0;
  right: -100%;
  margin: 0;
  padding: 10px;
  background: white;
  border-left: #E2E4E6 solid 1px;
  border-bottom: #E2E4E6 solid 1px;
  transition: right 525ms;
}

.sideMenu h1 {
  font-size: 18px;
  text-align: center;
  margin: 0;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: #E2E4E6 solid 1px;
  display: inline-block;
}

.menuClose {
  height: 14px;
  width: 14px;
  top: 13px;
  right: 15px;
  position: absolute;
  display: inline-block;
}

.menuClose:hover {
  filter: brightness(50%);
}

.options {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

.addMember {
  border-bottom: #E2E4E6 solid 1px;
  padding-bottom: 10px;
}
.options input[type=text] {
  width: 100%;
}
.activity {
  list-style-type: none;
  padding: 0;
}

.activity h3{
  margin: 0;
  margin-top: 10px;
}

.activity li{
  padding: 10px 0;
  border-bottom: #E2E4E6 solid 1px;
}

.activity li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.listOfLists {
  padding: 50px;
  position: absolute;
  top: 100px;
  bottom: 0;
  width: 100%;
  list-style-type: none;
}

.listItem {
  display: inline-block;
  vertical-align: top;
  background: #e8e8e8;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
  position: relative;
}

.cardList {
  padding: 0;
  margin-bottom: 30px;
  list-style-type: none;
  width: 150px;
  border: black solid 1px;
}

.card{
  position: relative;
  height: 100px;
  width: 130px;
  display: block;
  background: white;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
}

.addCard {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 10px;
  padding-left: 0;
  width: 80%;
  display: block;
}

.addCard:hover {
  font-weight: bold;
  text-decoration: underline;
}
.card:hover > .cardInfo{
  display: block;
}

.cardInfo {
  transition: bottom 500ms;
}

.addList {
  height: 50px;
  width: 150px;
  background: #e8e8e8;
}

.cardInfo {
  position: absolute;
  bottom: -380%;
  border: #E2E4E6 solid 1px;
  padding: 5px;
  left: 25%;
  display: none;
  transition: display 500ms;
}

.cardInfo input[type="text"] {
  padding: 10px;
}

.users {
  padding: 0;
}
.users li {
  display: inline-block;
  padding: 5px;
  list-style-type: none
}

.cardInfo textarea {
  display: block;
  padding: 5px;
  margin: 5px;
}
