body {
  background: #b6e2fc;
}
h1 {
  font-family: Helvetica;
}

.createContainer {
  top: 20px;
  left: 36%;
  right: 36%;
  position: fixed;
}

.logInContainer {
  top: 45%;
  left: 36%;
  right: 36%;
  position: fixed;
}

.labels {
  font-family: Arial;
}

input[type=text], input[type=email], input[type=password]{
  width: 400px;
  padding:0.5em;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  margin: 0.8em 0 0.8em;
}
