<%- include('header')%>
<%- include('navbar')%>
	<div class="infoBar">
		<span id="boardTitle">Example</span>
		<span id="showMenu">Show Menu</span>
		<div class="sideMenu">
			<h1 id=menuTitle>Menu</h1>
			<img class="menuClose" src="../images/close_window.png">
			<ul class="options">
				<li class="addMember"><input type="text" placeholder="Add Members"></li>
				<li class="activityList">
					<ul class="activity">
						<h3>Activity</h3>
						<li>Nathan Padrid added second to this board</li>
						<li>Nathan Padrid added first to this board</li>
						<li>Nathan Padrid created this board</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="content">
		<ul class="listOfLists">
			<div id="addList">
				<input type="text" id="listTitle" value="Add a list...">
				<span id="save-btn">Save</span>
				<img id="cancelList" src="../images/close_window.png">
			</div>
		</ul>
	</div>

	<div class="modal">
		<div class="modal-background"></div>
	  <div class="modal-content">
			<img id="modal-close" src="../images/close_window.png">
			<div class="modal-header">
				<input type="text" id="modal-title">
				<p id="modal-cardLocation"></p>
			</div>
			<div class="modal-main">
				<div class="cardDetails"></div>
				<div class="commentBox">
					<textarea id="comment" placeholder="Write a comment..."></textarea>
					<div id='addComment'>Send</div>
	  		</div>
				<div class="activity">
					<h3>Activity</h3>
				</div>
			</div>
			<div class="modal-sidebar">
				<h3>Add</h3>
				<div class="addOptions">
					<p id="addMember">Members</p>
					<p id="addLabel">Labels</p>
					<p>CheckList</p>
					<p>Due Date</p>
					<p>Attachment</p>
				</div>
				<h3>Actions</h3>
				<div class="actionOptions">
					<p>Move</p>
					<p>Copy</p>
					<p>Subscribe</p>
					<p id="deleteCard">Delete Card</p>
				</div>
			</div>
		</div>
	</div>

<%- include('footer', {script: "../javascripts/board.js"})%>
