<%- include('header')%>
<%- include('navbar')%>
	<ul class="listOfBoards">
		<h1>Personal Boards</h1>
		<li>Example Board</li>
		<li>Welcome Board</li>
		<li id="addBoard">Create new board...</li>
	</ul>
<%- include('footer', {script: "javascripts/boards.js"})%>
