<%- include('header')%>
	<div class="emailContainer">
		<h2>Click link to reset password</h2>
		<a class="linkBtn" href="/resetpassword/<%=link%>">localhost:3000/resetpassword/<%=link%></a>
	</div>
<%- include('footer', {script: ""})%>
