<%- include('header')%>
	<form class="passwordContainer" method="post" action="/forgotpassword">
		<h2>Send email to reset password</h2>
		<h4><%= error %></h4>
			<label class="label">Email</label><br>
			<input type="text" id="email" placeholder="e.g., user@example.com" name="email" required><br>
			<button type="submit" id="sendBtn">Send</button>
	</form>
<%- include('footer', {script: ""})%>
