<nav>
  <ul class="navBar">
    <li class="board-navbtn">Boards</li>
    <ul class="boardSideBar">
      <h3>Personal Boards</h3>
      <li>Example Board</li>
      <li>Welcome Board</li>
    </ul>
    <li class="search-navbtn"><input type="text" value="Search"></li>
  </ul>
  <p id="logo">Prello</p>
</nav>
