<%- include('header')%>
	<form class="resetContainer" method="post" action"/resetpassword/<%=link%>">
		<h2>Reset your password</h2>
		<h4><%= message %></h4>
    <label class="labels">New Password</label><br>
    <input type="password" id="password" placeholder="e.g., .........." name="password" required><br>
    <label class="labels">Confirm Password</label><br>
    <input type="password" id="confirm_password" placeholder="e.g., .........." name="confirm_password"required><br>
    <button type="submit" id="submit">Submit</button>
	</form>
<%- include('footer', {script: ""})%>
